<div class="container-fluid container-fluid-custom">

<p class="fs-5 fw-normal text-dark">Notivos is a combination of words "note" and "vos" in latin for you,with the concept of taking notes tailored for yourself.</p>
</div>

